# Copia este archivo como .env y completa los valores
TELEGRAM_TOKEN=tu_token_de_botfather
PORT=5050
# Opcionales para entrenar el modelo
ENS_PATH=data/ENS2017.csv
CESFAM_PATH=data/Estratificación_final_SO_v1.csv
MODEL_OUTPUT=modelo_hta.pkl
